<body>
    <div id="galerie" class="wrapper">
        <h2>Executive Team</h2>
        <hr>
        <div class="members">
            <div class="team-mem">
                <img src="../../../assets/img/badane.jpg">
                <h4>Mr. BADANE MOHAMMED</h4>
                <p>Graphic Designer</p>
            </div>
            <div class="team-mem">
                <img src="../../../assets/img/salma.jpg">
                <h4>Mrs. OUALI ALAMI SALMA</h4>
                <p>Soft - Engineer</p>
            </div>
            <div class="team-mem">
                <img src="../../../assets/img/khaoula.jpg">
                <h4>Mrs. BENYAHIA KHAOULA</h4>
                <p>Web Developer</p>
            </div>
            <div class="team-mem">
                <img src="../../../assets/img/chaimae.jpg">
                <h4>Mrs. OUALI CHAIMAE</h4>
                <p>Product Manager</p>
            </div>
            <div class="team-mem">
                <img src="../../../assets/img/oumaima.jpg">
                <h4>Mrs. HARAM OUMAIMA</h4>
                <p>Product Manager</p>
            </div>
        </div>
    </div> 
</body>


<div class="container-fluid mt-1" id="contact" style="width: 100%;">
            
  <div class="card mx-5">
      <div class="row mb-4 ">
          
          <div class="col-md-4 col-sm-11 col-xs-11">
              <div class="footer-text pull-left">
                   <div class="d-flex">
                       <h1 class="font-weight-bold mr-2 px-3" style="color:#dedee0; background-color:#dac47b" > D </h1>
                       <h1 style="color: #957bda">Etectat</h1>
                   </div>
                   <p class="card-text">Découvrez une expérience culinaire inoubliable au cœur de notre restaurant. Chez nous, savourez des plats délicieux préparés avec passion et expertise, dans une atmosphère chaleureuse et conviviale. Notre menu varié propose une sélection de spécialités exquises, élaborées avec des ingrédients frais et de qualité. Plongez dans un voyage gastronomique unique où chaque bouchée est une explosion de saveurs authentiques. Notre équipe dévouée se fait un plaisir de vous accueillir et de vous offrir un service attentif pour faire de chaque repas un moment mémorable. Venez vivre le goût de l'élégance et de la tradition, où chaque visite est une expérience exceptionnelle.</p>

                   <div class="social mt-2 mb-3">

                      <i class="fa fa-facebook-official fa-lg" ></i>
                      <i class="fa fa-instagram fa-lg"></i>
                      <i class="fa fa-twitter fa-lg"></i>
                      <i class="fa fa-linkedin-square fa-lg"></i>
                      <i class="fa fa-facebook"></i>

                   </div>
               
               </div>
          </div>
          
          
          <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
          
          <div class="col-md-2 col-sm-4 col-xs-4">
       
              <h5 class="heading">Services</h5>
              <ul >
                  <li>Service de qualité-</li>
                  <li>Cuisine personnalisée</li>
                  <li>Ambiance accueillante</li>
                  <li>Expérience culinaire complète </li>
              </ul>
       
          </div>
       
       
          <div class="col-md-2 col-sm-4 col-xs-4">
       
              <h5 class="heading">Contact</h5>
              <ul class="card-text">
                  <li>+33780124578</li>
                  <li>detectapro.com</li>
                  <li>Instagram</li>
                  <li>Facebook</li>
              </ul>
       
          </div>

       
           <div class="col-md-2 col-sm-4 col-xs-4">

              <h5 class="heading">Company</h5>
              <ul class="card-text">
                  <li>A Propos de nous </li>
                  <li>etape</li>
                  <li>Contact</li>
                  <li>Rejoignez nous</li>
              </ul>

           </div>

      </div>
      
      
      <div class="divider mb-4" >   
      </div>

     
      <div class="row" style="font-size:10px;">
      
      <div class="col-md-6 col-sm-6 col-xs-6">
          
          <div class="pull-left">
              
              <p><i class="fa fa-copyright"></i> 2020 DetecteDesign</p>
              
          </div>
          
      </div>
      
      

      <div class="col-md-6 col-sm-6 col-xs-6">
         
         
          <div class="pull-right mr-4 d-flex policy">
              
             <div>Terms of Use</div>
             <div>Privacy Policy</div>
             <div>Cookie Policy</div>
              
          </div>
          
          
          
      </div>
       
       
       
   </div>
  </div>
  
</div>