<div class="bg-img">
  <div class="content">
      <header>Inscription</header>
      <form (submit)="register(email.value, password.value, confirmPassword.value)">
          <div class="field">
              <span class="fa fa-user"></span>
              <input type="email" #email class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="nom@example.com" name="email">
              <div id="emailHelp" class="form-text">.</div>
          </div>
          <div class="field space">
              <span class="fa fa-lock"></span>
              <input type="password" #password class="form-control" id="passwordInput" placeholder="Mot de passe" name="password">
          </div>
          <div class="field space">
              <span class="fa fa-lock"></span>
              <input type="password" #confirmPassword class="form-control" id="confirmPasswordInput" placeholder="Confirmez le mot de passe" name="confirmPassword">
          </div><br>
          <!-- Juste après les champs de mot de passe -->
          <div *ngIf="passwordMismatch" class="alert alert-danger" role="alert">
              Les mots de passe ne correspondent pas.
          </div>
          <div class="field">
              <input type="submit" value="S'inscrire">
          </div>
          <div class="signup">Déjà inscrit?
              <a routerLink="/login">Se connecter</a>
          </div>
          <br>
          <div class="signup">
            <a routerLink="/home">page Principale</a>
          </div>
      </form>
  </div>
</div>
