<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Inscription</h3>
            <form (submit)="register(email.value, password.value,confirmPassword.value)">
              <div class="mb-3">
                <label for="email" class="form-label">Adresse Email</label>
                <input type="email" #email class="form-control" id="email" placeholder="nom@example.com" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Mot de Passe</label>
                <input type="password" #password class="form-control" id="password" placeholder="Mot de passe" name="password" required>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmez le Mot de Passe</label>
                <input type="password" #confirmPassword class="form-control" id="confirmPassword" placeholder="Confirmez le mot de passe" name="confirmPassword" required>
              </div>
              <!-- Juste après les champs de mot de passe -->
                <div *ngIf="passwordMismatch" class="alert alert-danger" role="alert">
                     Les mots de passe ne correspondent pas.
                </div>
              <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
            </form>
            <div class="mt-4 text-center">
             <strong> se connecter :  </strong><a routerLink="/login">se conncecter</a>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>



