<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Connexion</h3>
            <form (submit)="authService.login(email.value,password.value)">
              <div class="mb-3">
                <label for="emailInput" class="form-label">Adresse Email</label>
                <input type="email" #email class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="nom@example.com" name="email">
                <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre email.</div>
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Mot de Passe</label>
                <input type="password" #password class="form-control" id="passwordInput" placeholder="Mot de passe" name="password">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="rememberMe">
                <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
              </div>
              <button type="submit" class="btn btn-primary w-100">Connexion</button>
            </form>
            <div class="mt-4 text-center">
              Pas encore de compte? <a routerLink="/register">S'inscrire</a>
            </div>
            <div class="text-center">
                <a routerLink="/password-reset">Mot de passe oublié ?</a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>