




  <div class="bg-img">
    <div class="content">
        <header>Se connecter</header>
        <form (submit)="authService.login(email.value,password.value)">
            <div class="field">
                <span class="fa fa-user"></span>
               
                <input type="email" #email class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="nom@example.com" name="email">
                <div id="emailHelp" class="form-text">.</div>
              </div>
            <div class="field space">
                <span class="fa fa-lock"></span>
               
                <input type="password" #password class="form-control" id="passwordInput" placeholder="Mot de passe" name="password">
            </div>
            <div class="pass">
              <a routerLink="/password-reset">Forgot Password?</a>
            </div>
            <div class="field">
                <input type="submit" value="LOGIN">
            </div>
           
            <div class="signup">Don't have account?
              <a routerLink="/register">SignUp Now</a>
            </div>
        </form>
    </div>
</div>