

	<header>
		<div class="main">
	
		
		 <ul>
		 <li class="active"><a href="#"><i class="fa fa-home"></i>Home</a></li>
		 <li><a href="#galerie">Equipe </a></li>
		 <li><a href="#contact">Information</a></li>
		 <li><a href="#contact">A Propos de Nous</a></li>
		 
         <li><a routerLink="/login">Login</a></li>
        
		</ul>

		 </div>
		 <div class="title">
		 	<h1>HOMIE RECIPES</h1>
		 </div>
		 <div class="button">
		 	<a href="https://www.youtube.com/watch?v=tBhPTk5lksc" class="btn">WATCH VIDEO</a>
		 	<a href="https://www.youtube.com/watch?v=ZJy1ajvMU1k" class="btn">BASIC SKILLS</a>
		 	<a href="https://www.youtube.com/watch?v=FTociictyyE&list=PLTzMGnJjrsSyDJU9XClzZtuJ6GAIsvRk7" class="btn">LEARN MORE</a>
		 </div>

	</header>

<app-gallerie></app-gallerie>